main {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 165px 165px 165px;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 165px;
}
h1, p, h2
{
    color: #fff;
}