main {
    width: 90%;
    justify-content: center;
    display: grid;
    grid-template-columns: 8em 8em 8em;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 8em;
}
h1, p, h2
{
    color: #fff;
}